{% extends 'AppBundle::base.html.twig' %}

{% import _self as material %}

{% macro table(data) %}
{% include('AppBundle:Material:index_table.html.twig')
    with {entities: data}
    only
    %}
{% endmacro %}

{% block pagetitle %}
{{ entities.name }}
{% endblock %}

{% block body %}
{{ parent() }}


<!-- TODO: add information material -->
<!-- TODO: add func to add materail in the list -->
<!-- TODO: add func to link material with user -->


<table class="table table-striped table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Number</th>
		<th>Derniére update</th>
	</tr>
	<tr>
	<tbody>
		{% for entity in entities.materials %}
		<tr>
			<td>{{ entity.name }}</td>
			<td>{{ entity.type }}</td>
			<td>{{ entity.number }}</td>
			<td>{{ entity.updatedAt|date() }}</td>
		</tr>
		{% else %}
		<tr class="warning">
			<td colspan="4">No records found</td>
		</tr>
		{% endfor %}
	</tbody>
	</tr>
</table>



<!-- TODO: add table with linked materials -->

{% endblock %}
