{% extends 'AppBundle::base.html.twig' %}

{% block pagetitle %}
{% spaceless %}
  {# False if create with error(s) --- works fine with autogen ids. #}
  {% if form.vars.value.id %}
      Update
  {% else %}
      Create
  {% endif %}
{% endspaceless %}
&nbsp;personel{% endblock %}

{% block body %}
    {{ parent() }}

    {#
      {{ dump(form) }}
    #}

    {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.lastname) }}

        <div style="margin: auto;">
          {{ form_widget(form.submit) }}
        </div>
      <div class="hidden">{{ form_rest(form) }}</div>
    {{ form_end(form) }}

{% endblock %}
